.footer-light {
  background: $light-background;
  color: $brand-color-light;
  text-align: center;
  min-height: 56px;
  line-height: 45px;
  width: $container-width;

  a {
    color: $brand-color-light;
    padding: 0px 10px 0px;
    text-decoration: none;
  }

}

@media (max-width: $container-width) {
  .footer-light {
    background: $light-background;
    color: $brand-color-light;
    text-align: center;
    min-height: 56px;
    line-height: 45px;
    width: 95vw;
  }
}

.footer-dark {
  background: $dark-background;
  color: $brand-color-dark;
  text-align: center;
  min-height: 56px;
  line-height: 45px;
  width: $container-width;

  a {
    color: $brand-color-dark;
    padding: 0px 10px 0px;
    text-decoration: none;
  }

}

@media (max-width: $container-width) {
  .footer-dark {
    background: $dark-background;
    color: $brand-color-dark;
    text-align: center;
    min-height: 56px;
    line-height: 45px;
    width: 95vw;
  }
}

